<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ name }}</title>
  <meta name="description" content="{{ meta_content }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
  
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>

  <script type="text/javascript" language="javascript" src="assets/scripts.js"></script>
  
  <link rel="stylesheet" href="assets/styles.css">
  {% if ga_id %}
  {% endif %}
</head>
<body class="{% block body_class %}{% endblock %}">
  <div class="site">
    {% block main %}{% endblock %}
  </div>

</body>
</html>
