{% extends 'base.html' %}
{% block main %}

<body>
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container clearfix">
            <img class="profile-image img-fluid float-left" src="{{ profile_image }}" alt="{{ name }}" />
            <div class="profile-content float-left">
                <h1 class="name">{{ name }}</h1>
                <h2 class="desc">{{ description }} - <a href="https://cloud.drone.io/quadeare/resume"><img src="https://cloud.drone.io/api/badges/quadeare/resume/status.svg" /></a></h2>
                <ul class="social list-inline">
                    <li class="list-inline-item"><a target="_blank" href="https://{{ twitter }}"><i
                                class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a target="_blank"
                            href="https://{{ linkedin }}"><i
                                class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://{{ github }}"><i
                                class="fab fa-github-alt"></i></a></li>
                </ul>
            </div>
            <!--//profile-->
            <a class="btn btn-primary float-right" href="print.html" target="_blank"><i class="fas fa-download"></i>
                Téléchargez mon CV</a>
        </div>
        <!--//container-->
    </header>
    <!--//header-->

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">A propos</h2>
                        <div class="content">
                            {{ profile| safe }}
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </section>
                <!--//section-->

                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Experiences professionelles</h2>
                        {% for exp in experience %}

                        <div class="content">
                            <div class="item">
                                <h3 class="title"><a target="_blank" href="{{ exp.url }}">{{ exp.company }} </a> - <span
                                        class="place"><a>{{ exp.desc }}</a></span> <span
                                        class="year">({{ exp.date }})</span></h3>
                                <div class="bs-vertical-wizard">
                                    <ul>
                                        {% for project in exp.project %}

                                        <li>
                                            <a>{{ project.name }}
                                                <span class="desc">{{ project.des| safe }}</span>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            </div>
                            <!--//item-->
                            {% endfor %}
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </section>
                <!--//section-->
            </div>
            <!--//primary-->
            <div class="secondary col-lg-4 col-12">

                <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading">Informations générales</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-user-alt"></i><span class="sr-only">General :</span><a
                                        target="_blank" ><script>document.write(calculateAge(new Date("{{ birthday }}")) + ' ')</script>ans - {{ licence }}</a></li>
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Localisation:</span><a
                                        target="_blank" href="{{ location.url }}">{{ location.name }}</a></li>
                                <li><i class="fas fa-graduation-cap"></i><span class="sr-only">Ecole:</span><a
                                        target="_blank" href="{{ school.url }}">{{ school.name }}</a></li>
                                <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a
                                        href="mailto:{{ email }}">{{ email }}</a></li>
                                <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a target="_blank"
                                        href="https://{{ blog }}">{{ blog }}</a></li>
                            </ul>
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </aside>
                <!--//aside-->

                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Mes compétences</h2>

                        {% for skill_group in skills_groups %}

                        <div class="content">
                            <h3 class="skill-group-title">{{ skill_group.name }}</h3>

                            <div class="skillset">

                                {% for skill in skill_group.skills %}
                                <div class="item">
                                    <h4 class="level-title">{{ skill.name }}</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                            style="width: {{ skill.percentage }}" aria-valuenow="{{ skill.percentage }}"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <!--//level-bar-->
                                </div>
                                <!--//item-->
                                {% endfor %}


                                {% endfor %}
                            </div>
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </aside>
                <!--//section-->

            </div>
            <!--//secondary-->
        </div>
        <!--//row-->
    </div>
    <!--//masonry-->

</body>

</html>
{% endblock %}