{% extends 'base-print.html' %}
{% block body_class %}print{% endblock %}
{% block main %}
<div class="container">
    <div class="sidebar">
        <div class="title">
            <img src="{{ profile_image }}" alt="{{ name }}" />
            <h1>{{ name }}</h1>
            <h2>{{ description }}</h2>
        </div>
        <ul class="side-info">
            <li class="someRight">
                <dt><i class="fa fa-bookmark"></i>Informations générales</dt>
                <dd><script>document.write(' ' + calculateAge(new Date("{{ birthday }}")) + ' ')</script>ans - {{ licence }}</dd>
                <dd><span>Ecole : </span><a href="{{ school.url }}" target="_blank">{{ school.name }}</a></dd>
                
            </li>
            <li class="someRight">
                <dt><i class="fa fa-bookmark"></i>Contact</dt>
                {% for item in contact %}
                    <dd><i class="fa {{ item.icon }}"></i> <a {% if item.name == 'Email' %}href="mailto:{{ item.value }}"{% endif %} target="_blank">{{ item.value }}</a></dd>
                {% endfor %}
                <dd><span><i class="fa fa-github"></i> </span> <a href="https://{{ github }}" target="_blank">{{ github }}</a></dd>
                <dd><span><i class="fa fa-wordpress"></i> </span> <a href="https://{{ blog }}" target="_blank">{{ blog }}</a> / <a href="https://{{ wiki }}" target="_blank">{{ wiki }}</a></dd>

                <li class="skill section">
                        <dt><i class="fa fa-bookmark"></i>Mes compétences</dt>
                        {% for skill_group in skills_groups %}
                        <dt>{{ skill_group.name }}</dt>
                            {% for skill in skill_group.skills %}
                            <dd>
                                <div class="skill-name">{{ skill.name }}</div>
                                <div class="skill-bar-wrap">
                                    <div class="skill-bar" style="width: {{ skill.percentage }}"></div>
                                </div>
                            </dd>
                            {% endfor %}
                        {% endfor %}
                    </li>
            </li>
        </ul>
        {% if intro %}
        <div class="note">
            {{ intro |safe }}
        </div>
        {% endif %}
    </div>
    <div class="main">
        <ul class="main-info">
            <li class="skill section">
                <dt><h1><i class="fa fa-bookmark"></i> A propos</h1></dt>
                {{ profile| safe }}
            </li>

            <li class="experience section">
                <dt><h1><i class="fa fa-bookmark"></i> Experiences professionelles</h1></dt>
                {% for exp in experience %}
                    <h2><i class="fa fa-building"></i> {{exp.company}} <small>({{ exp.date }})</small></h2>
                        <ul class="exp">
                            {% for project in exp.project %}
                            <li>
                                <div class="circle"></div>
                                <h4>{{ project.name }}
                                {% if project.website %}
                                <a href="{{ project.website }}" target="_blank"><i class="fa fa-link"></i>Demo</a>
                                {% endif %}
                                {% if project.source_code %}
                                <a href="{{ project.source_code }}" target="_blank"><i class="fa fa-link"></i>SourceCode</a>
                                {% endif %}
                                </h4>
                                <div class="clearfix">
                                  {% if project.img %}<img src="{{ project.img }}">{% endif %}
                                  {{ project.des |safe }}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}
